@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/topOfDesk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Noto Serif Devanagari', serif;
}
header h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px #ff0000;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #114e85;
    border-radius: 10px 10px 50px 50px;
    border: 0.1rem solid grey;
    box-shadow: 1px 3px 10px black;
    height: 50rem;
    width: 30rem;
}
section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
section:last-child {
    border: none;
}
.top {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    background-color: #4a5245;
    padding: 0.5rem;
    border:  1px solid black;
    box-shadow: 0px 0px 2px black;
}
.display {
    height: 100%;
    width: 100%;
    background-color: #b8b8b8;
    border-radius: 10px;
    border:  1px solid black;
    box-shadow: 0px -2px 2px black;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    font-size: 40px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}
.middle {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 17%;
    color: #e0fcfd;
    padding: 0.5rem 1rem;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.left h2{
    font-weight: 300;
}
.texas-box{
    width: 90%;
    height: 60%;
    background-color: #161f1c;
    border: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.texas-box div {
    border: 1px solid black;
    border-right: 3px solid black;
    box-shadow: 0px 0px 5px black;
}
.texas-box div:last-child {
    border: none;
}
.right{
    font-size: 35px;
}
.right h1 {
    font-weight: 900;
}
.bottom {
    height: 57%;
    padding: 1rem;
}
.buttons-container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px black;
    padding: 10px;
}
.left-buttons {
    display: grid;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
.operation-buttons {
    display: grid;
    grid-template-columns: repeat(1, 90px);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
button {
    background-color: #e3e8eb;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    filter:opacity(80%)
}
.red {
    background-color: #d32e3c;
    color: white;
}
.equal {
    grid-row-start: 5;
    grid-row-end: 7;
}